/*** Icomoon ***/
@font-face {
    font-family: 'icomoon';
    src:
        url('fonts/icomoon.ttf?sm36jf') format('truetype'),
        url('fonts/icomoon.woff?sm36jf') format('woff'),
        url('fonts/icomoon.svg?sm36jf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e900";
}
.icon-pencil2:before {
    content: "\e901";
}
.icon-bin:before {
    content: "\e902";
}
.icon-plus:before {
    content: "\e903";
}
.icon-cross:before {
    content: "\e904";
}
.icon-checkmark:before {
    content: "\e905";
}



/*** Main styles ***/



body {
	background-image:linear-gradient(
      to top right, 
      lightcoral, #ffffcc
    );	
}

.setting {
	font-size: 20px;
	color: white;
	background-color: lightcoral;
	border-radius: 30px;
	padding: 15px;
	text-decoration: none;
	display: block;
	text-align: center;
	position: absolute;
	right: 10px;
}

.setting:not(.inactive) {
	cursor: pointer;
}
#addLink {
	top: 10px;
}

#editLinks {
	top: 75px;
}

#linkList {
    height: 95%;
    width: 90%;
    position: relative;
}
#linkList div {
	color: white;
	background-color: darkturquoise;
	margin: 10px 0;
	padding: 0;
	border-radius: 16px;
    position: absolute;
	border: 2px solid transparent;
}

#linkList .hasIcon {
	padding-left: 30px;
	background-position: 3px center;
    background-repeat: no-repeat;
	background-size: 30px;
}

#linkList .editable {
	opacity: 0.7;
}
#linkList .selected {
	opacity: 1;
	border-color: cadetblue;
}
#addLink.inactive{
	opacity: 0.5;
}

#linkList div a{
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 13px;
	font-size: 15px;
	display: block;
}

.modal {
	width: 300px;
	position: fixed;
	top: 10px;
	right: 70px;
	z-index:100;
	border-radius: 5px;
	background-color: cornsilk;
	border: 1px solid lightcoral;
}
.modal div {
	font-weight: bold;
	line-height: 22px;
	background-color: lightcoral;
	color: white;
	padding-left: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal span {
	position: absolute;
    top: 5px;
    right: 5px;
	color: white;
	cursor: pointer;
}
.modal label,
.modal input {
	display: inline-block;
	margin: 10px 0 5px;
}

.modal label {
	width: 80px;
	margin-left: 10px;
}

.modal a {
	display: block;
	width: 100px;
	color: white;
	font-weight: bold;
	background-color: darkturquoise;
	margin: 10px auto;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	border-radius: 5px;
}

#editElem {
	display: none;
	position: absolute;
}

#editElem .icon {
	background-color: white;
    padding: 12px;
    border-radius: 18px;
	color: cadetblue;
	cursor: pointer;
}