body {
	background-image:linear-gradient(
      to top right, 
      lightcoral, #ffffcc
    );	
}

#addLink {
	font-size: 40px;
	color: white;
	background-color: lightcoral;
	border-radius: 30px;
	height: 60px;
	width: 60px;
	text-decoration: none;
	display: block;
	text-align: center;
	position: absolute;
	top: 10px;
	right: 10px;
}

#linkList div {
	color: white;
	background-color: darkturquoise;
	width: 100px;
	margin: 10px 0;
	padding: 10px;
	border-radius: 16px;
	text-align: center;
}

#linkList div a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#addLinkModal {
	width: 300px;
	position: fixed;
	top: 100px;
	right: 10px;
	z-index:100;
	border-radius: 5px;
	background-color: cornsilk;
	border: 1px solid lightcoral;
}
#addLinkModal div {
	font-weight: bold;
	line-height: 22px;
	background-color: lightcoral;
	color: white;
	padding-left: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#addLinkModal span {
	float:right;
	clear: right;
	cursor: hand;
	padding: 0 10px;
}
#addLinkModal label,
#addLinkModal input {
	display: inline-block;
	margin: 10px 0 5px;
}

#addLinkModal label {
	width: 80px;
	margin-left: 10px;
}

#addLinkModal input {
	
}

#addLinkModal a {
	display: block;
	width: 100px;
	color: white;
	font-weight: bold;
	background-color: darkturquoise;
	margin: 10px auto;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	border-radius: 5px;
}