/*** Icomoon ***/
@font-face {
    font-family: 'icomoon';
    src:
        url('fonts/icomoon.ttf?sm36jf') format('truetype'),
        url('fonts/icomoon.woff?sm36jf') format('woff'),
        url('fonts/icomoon.svg?sm36jf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e900";
}
.icon-pencil2:before {
    content: "\e901";
}
.icon-bin:before {
    content: "\e902";
}
.icon-plus:before {
    content: "\e903";
}
.icon-cross:before {
    content: "\e904";
}
.icon-checkmark:before {
    content: "\e905";
}



/*** Main styles ***/



body {
	margin-top: 0;
	background-image:linear-gradient(
      to top right, 
      #ccccff, #FFeeFF
    );	
}


error {
	color: red;
}

#instructions {
	text-align: center;
	font-size: 14px;
	margin: 20px;
}

#instructions label {
	padding: 10px;
	border-radius: 10px;
}

#instructions label:first-of-type{
	font-weight: bold;
	color: #333399;
	background-color:rgba(255,255,255,0.5);
	box-shadow: 0 0 5px white;
	border-radius: 10px;
}

#instructions label:nth-of-type(2) {
	display: none;
	background-color: #9898e6;
	color: #fafafa;
}

.setting {
	font-size: 20px;
	color: white;
	background-color: #9999ff;
	border-radius: 30px;
	padding: 15px;
	text-decoration: none;
	display: block;
	text-align: center;
	position: absolute;
	right: 10px;
}

.setting:hover {
	background-color: #8080ff;
}

.setting:not(.inactive) {
	cursor: pointer;
}
#addLink {
	top: 10px;
}

#editLinks {
	top: 75px;
}

#linkList {
    height: 90%;
    width: 90%;
    position: relative;
}
#linkList div {
	background-color: FloralWhite;
	margin: 10px 0;
	padding: 0;
	border-radius: 10px;
    position: absolute;
	/*border: 1px solid #b4b4e4;*/
	box-shadow: 0 0 5px FloralWhite;
}
#linkList div:hover{
	background-color: white;
}

#linkList .hasIcon {
	padding-left: 20px;
	background-position: 6px center;
    background-repeat: no-repeat;
	background-size: 20px;
}

#linkList .editable {
	opacity: 0.7;
}

#linkList .editable:hover {
	border-color: #5656c2;
}
#linkList .selected {
	opacity: 1;
	border-color: #5656c2;
}
#addLink.inactive{
	opacity: 0.5;
}

#linkList div a{
	color: dimgray;
	text-decoration: none;
	padding: 13px;
	font-size: 15px;
	display: block;
}

.modal {
	width: 250px;
	position: fixed;
	top: 10px;
	right: 70px;
	z-index:100;
	border-radius: 5px;
	background-color: #FFFFF6;
	border: 1px solid #9999ff;
}

.modal error {
	display: none;
	margin: 10px;
}

.modal header {
	font-size: 15px;
	line-height: 30px;
	background-color: #9999ff;
	color: white;
	padding-left: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.modal span {
	position: absolute;
    top: 8px;
    right: 5px;
	color: white;
	cursor: pointer;
}
.modal input {
	display: block;
	margin: 10px auto 5px;
	width: 90%;
	padding: 5px;
	font-size: 17px;
	color: dimgray;
}

.modal a {
	display: block;
	width: 100px;
	color: white;
	font-size: 15px;
	background-color: #8080ff;
	margin: 10px auto;
	text-decoration: none;
	text-align: center;
	padding: 10px 0;
	border-radius: 5px;
}

#editElem {
	display: none;
	position: absolute;
}

#editElem .icon {
	background-color: white;
    padding: 12px;
    border-radius: 18px;
	color: dimgray;/*#141439;*/
	cursor: pointer;
}